<?xml version='1.0' encoding='utf-8'?>
<widget id="ru.robokhimki.race" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Кибер-гонки</name>
    <description>
        Игра года: кибер-гонки
    </description>
    <author email="support@robokhimki.ru" href="https://robokhimki.ru">
        RoboKhimki
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="landscape" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="29" />
    <plugin name="cordova-plugin-battery-status" source="npm" spec="~1.2.4" />
    <plugin name="cordova-plugin-inappbrowser" source="npm" spec="~1.7.1" />
    <plugin name="cordova-plugin-network-information" source="npm" spec="~1.3.3" />
    <plugin name="cordova-plugin-vibration" source="npm" spec="~2.1.5" />
    <platform name="android">
        <icon density="mdpi" src="www/icon/mdpi/ic_launcher.png" />
        <icon density="hdpi" src="www/icon/hdpi/ic_launcher.png" />
        <icon density="xhdpi" src="www/icon/xhdpi/ic_launcher.png" />
        <icon density="xxhdpi" src="www/icon/xxhdpi/ic_launcher.png" />
        <icon density="xxxhdpi" src="www/icon/xxxhdpi/ic_launcher.png" />
    </platform>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>